absl-py==0.2.2
appnope==0.1.0
APScheduler==2.1.2
astor==0.6.2
audioread==2.1.5
backcall==0.1.0
bleach==1.5.0
certifi==2018.1.18
cffi==1.11.4
click==6.7
cycler==0.10.0
decorator==4.2.1
Flask==0.12.2
gast==0.2.0
grpcio==1.12.1
h5py==2.9.0
html5lib==0.9999999
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.2
Jinja2==2.10
joblib==0.11
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
librosa==0.6.0
llvmlite==0.21.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
networkx==2.1
numba==0.36.2
numpy==1.14.5
opencv-python==3.4.4.19
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.0.0
prompt-toolkit==2.0.7
protobuf==3.6.0
ptyprocess==0.6.0
PyAudio==0.2.11
pycparser==2.18
Pygments==2.3.1
pyparsing==2.2.0
PySoundFile==0.9.0.post1
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.13
pyzmq==17.1.2
resampy==0.2.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
SpeechRecognition==3.8.1
tensorboard==1.7.0
tensorflow==1.7.1
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
tflearn==0.3.2
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
tzlocal==1.5.1
Wave==0.0.2
wcwidth==0.1.7
Werkzeug==0.14.1
